<!DOCTYPE html>
<html>

<head>
  <title<%= title%></title>

  <!--css -->
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

  <link type="text/css" rel="stylesheet"
        href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<!-- default header with minimumn information -->
